html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    user-select: none;

    &::selection {
        background-color: transparent;
    }
}

body {
    display: flex;
}

.typer-screen {
    flex-grow: 1;
}